<{% extends 'base.html' %}

{% block title %}{% block header %}Active Accounts {% endblock %}{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    Hello {{ user.username }} The following accounts are active
{% for customer in customers %}
<ul>
    <li><h>Name: {{customer.name}}<br></h>
        <h>address: {{customer.address}} <br></h>
    </li>
  </ul>
{% endfor %}
  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}